body {
  padding: 0px;
  background-image: url(../images/grey_wash_wall.png);
  background-repeat: repeat;
  height:100%;
}

html {
  height: 100%;
}

#down-icon-row {
  position:absolute;
  bottom: 0px;
  width: 100%;
} #down-icon {
  text-align: center;
  font-size: x-large;
}

#rhino-background {
  background: url(../images/rhino.jpg) 50% 100% no-repeat;
  background-attachment: fixed;
  height: 50%;
  background-size: 100%;
}

#chart-cont-1 {
  padding-top: 10rem;
  height:100%;
}

#center-chart-1 {
  padding-left: 0;
}

#rhino-outline {
  position: absolute;
  z-index: -1;
}

#rhino-chart {
  z-index: 1;
  opacity: 50;
}

.neutral-btn {
  color: #333;
} .neutral-btn:hover {
  color: #444;
}

.prev {
  font-size: xx-large;
}
