body {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/grey_wash_wall.png);
  background-repeat: repeat;
  overflow-x: hidden;
  height:100%;
}

html {
  height: 100%;
}

#home {
  background: url(../images/rhino.jpg) 50% 100% no-repeat;
  background-attachment: fixed;
  height: 50%;
  background-size: 100%;
  margin: 0 auto;
}

#chart-cont-1 {
  padding-top: 10rem;
  height:100%;
}

#center-chart-1 {
  padding-left: 0;
}

#rhino-outline {
  position: absolute;
  z-index: -1;
}

#rhino-chart {
  z-index: 1;
  opacity: 50;
}

.prev {
  font-size: xx-large;
  color: #333
}

.prev:hover {
  color: #444
}
