body {
  padding: 0px;
  background-image: url(../images/grey_wash_wall.png);
  background-repeat: repeat;
  height:100%;
}

html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#title {
  font-family: impact;
  margin-left: 10px;
}

#down-icon-row {
  position:absolute;
  bottom: 0px;
  width: 100%;
} #down-icon {
  text-align: center;
}

#rhino-background {
  background: url(../images/rhino.jpg) 50% 100% no-repeat;
  background-attachment: fixed;
  height: 50%;
  background-size: 100%;
}

#chart-cont-1 {
  padding-top: 10rem;
  height:100%;
}

#center-chart-1 {
  padding-left: 0;
}

#rhino-outline {
  position: absolute;
  z-index: -1;
}

#rhino-chart {
  z-index: 1;
  opacity: 50;
}

.neutral-btn {
  color: #333;
}

.neutral-btn:hover {
  color: #444;
}

.neutral-btn:focus {
  color: #444;
  outline: 0;
}

#info-cont {
  height: 100%;
}

#info {
  background-color: #333;
  border-radius: 20px;
  margin-top: 50%;
}

#author-title {
  color: #555;
  text-align: center;
  font-weight: 600;
}

#info-icons {
  text-align: center;
}

#info-icons > a {
  text-decoration: none;
  outline: 0;
}

#info-icons > a > i {
  padding: 10px;
  color: #555;
}

#info-icons > a > i:hover {
  color: #444;
}
